<form method="POST" action="/annotations">

<div class="ui input">
  <p>
  <label for="dataset_select_id">Dataset Id: </label>
  <% if defined?(datasetid)  %>
    <input type="ui input" name="datasetid" value="<%= datasetid %>" placeholder="Dataset Id"/>
  <% else %>
    <input type="ui input" name="datasetid" placeholder="Enter the dataset ID"/>
  <% end %>
</p>

<p>

  <label for="request_id">Request Id: </label>
  <% if defined?(requestid)  %>
    <input type="ui input" name="requestid" value="<%= requestid %>" placeholder="Request Id"/>
  <% else %>
    <input type="ui input" name="requestid" placeholder="Request Id"/>
  <% end %>
</p>

</div>
<br>




<input type="radio" name="mappingoption" value="byurl" checked> URL
<div class="ui input">
  <input type="ui input" name="mapping_url" placeholder="Annotation URL"/><br>
</div>
<br>

<input type="radio" name="mappingoption" value="byfile"> File
<button class="ui button">
  Upload
</button>
<br>

<input type="radio" name="mappingoption" value="byeditor"> Mapping Editor
<button class="ui button">
  Open Mapping Editor
</button>
<br>

<input type="radio" name="mappingoption" value="bytada"> TADA<br>




<p>
  <input class="ui fluid large teal submit secondary button" type="submit" name="Add" value="Go"/>
</p>

</form>

<hr>
