<form class="ui form" method="GET" action="/instances">
  <div class="field">
    <label>Filter by a class</label>
    <input type="text" name="classname" placeholder="Enter the class of the instances here "/>
  </div>

  <p>
    <input class="ui fluid large teal submit secondary button" type="submit" name="Filter" value="Filter"/>

  </p>

</form>

<hr>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Title</th>
    </tr>
  </thead>

  <% if defined?(instances) %>
  <% instances.each do |instance| %>
  <tr>
    <td>
      <%= instance['id'] %>
      <a href="instancedetails?instanceuri=<%= instance['id'] %>"> Details </a>

    </td>
    <td>
      <%= instance['rdf_type'] %>
    </td>
    <td>
      <%= instance['title'] %>
    </td>
  </tr>
  <% end %>
  <% end %>


</table>
