<form class="ui form" method="GET" action="/instances">
  <div class="field">
    <label>Filter by a class</label>
    <input type="text" name="classname" placeholder="Enter the class of the instances here "/>
  </div>

  <p>
    <input class="ui fluid large teal submit secondary button" type="submit" name="Filter" value="Filter"/>

  </p>

</form>

<hr>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>

  <% if defined?(instances) %>
    <% instances.each do |instance| %>
      <% if !instance['rdf_type'].include? "http://mappingpedia.linkeddata.es/vocabulary" and  !instance['rdf_type'].include? "http://www.w3.org/ns/r2rml" %>
        <tr>
          <td>
          <%= instance['id'] %>
          <a href="instancedetails?instanceuri=<%= instance['id'] %>"> Details </a>
          </td>
          <td>
          <%= instance['title'] %>
          </td>
          <td>
          <%= instance['rdf_type'] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>


</table>
