<!DOCTYPE html>
<html>
<head>
<title>MARKETPLACE</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<link rel='stylesheet' type='text/css' href='/style.css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="container">
    <div id='header'>
      <a href='/'><img src='/logo2.png' alt='logo image' class='logo'/></a>
      <a href='/about' class='nav'>ABOUT</a>
      <a href='/annotations' class='nav'>ANNOTATIONS</a>
      <a href='/mydatahub' class='nav'>DATAHUB</a>
      <a href='/requests' class='nav'>REQUESTS</a>
      <a href='/' class='nav'>HOME</a>

    </div>

    <div id='main'>
      <%= yield %>
    </div>

    <div id='footer'>
    © MarketPlace
    </div>
  </div>
</body>
</html>
