<h1>Login page</h1>
<form class="ui form" action="login" method="POST">
	<div class="field">
    <label>Email</label>
	<input type="email" name="email" placeholder="Enter your email here ... " value="test@gmail.com"/>
</div>
<div class="field">
	<label>Password</label>
	<input type="password" name="password" placeholder="Enter your password ... " value="test"/>
</div>
	<input class="ui fluid large teal submit secondary button" type="submit" name="Login" value="Login"/>
</form>
<br>
<a href="register"> You don't have an account yet? would you like to register? </a>
