<img src="/home.png" class="icon" alt="">

<h1>Register page</h1>
<form action="register" method="POST">
	<div class="ui input">
	<input type="email" name="email" placeholder="Enter your email here ... "/>
</div>
	<div class="ui input">
	<input type="password" name="password" placeholder="Enter your password ... "/>
</div>

	<input class="ui secondary button" type="submit" name="Register" value="Register"/>
</form>
