<img src="/home.png" class="icon" alt="">

<h1>Register page</h1>
<form class="ui form" action="register" method="POST">
	<div class="field">
    <label>Email</label>
	<input type="email" name="email" placeholder="Enter your email here ... "/>
</div>
<div class="field">
	<label>Password</label>
	<input type="password" name="password" placeholder="Enter your password ... "/>
</div>

	<input class="ui fluid large teal submit secondary button" type="submit" name="Register" value="Register"/>
</form>
